<!-- <div className="column1">
    {/* <div className="pmx" style={{backgroundImage: `url(${pmxpng}})`, backgroundSize: 'cover' , noRepeat: 'no-repeat'
        , backgroundPosition: 'center' }}>

        <div className="pmx-text">PMX &<br />ENCODE</div>
    </div> */}
    <div className='pmx' style={{backgroundImage: `url(${pmxpng})`, backgroundSize: 'cover' , noRepeat: 'no-repeat' ,
        backgroundPosition: 'center' }}>
        <div className="pmx-text">PMX &<br />ENCODE</div>
    </div>
    <div className="IF">
        <img src={ifpng} className='if-image' />
        <div className="if-text">INTERNFAIR</div>
        <img src={if1} className="if1-image" />
        <img src={if2} className="if2-image" />
    </div>
    {/* <div className='website1' style={{backgroundImage: `url(${website})`, backgroundSize: 'cover' ,
        noRepeat: 'no-repeat' , backgroundPosition: 'center' }}>
        <div className="website-text">Website</div>
    </div> */}

    {/* <div className="website1">
        <img src={website} className='website-image' />
        <div className="website-text">Website</div>
    </div> */}

    {/* <div className='if' style={{backgroundImage: `url(${ifpng})`, backgroundSize: 'cover' , noRepeat: 'no-repeat' ,
        backgroundPosition: 'center' }}>
        <div className="if-text">INTERNFAIR</div>
    </div> */}
    {/* <div className="if">
        <img src={ifbg} className="ifbg-image" />
        <img src={if1} className="if1-image" />
        <img src={if2} className="if2-image" />
        <div className="if-text">INTERNFAIR</div>
    </div> */}
    <div className='pmx' style={{backgroundImage: `url(${websitebg})`, backgroundSize: 'cover' , noRepeat: 'no-repeat' ,
        backgroundPosition: 'center' }}>
        <div className="pmx-text">PMX &<br />ENCODE</div>
    </div>

    {/* <div className="website1">
        <img src={website} className="website-image" />
        <div className="website-text">WEBSITE</div>
    </div> */}
</div>
{/* <div className="column2">
    <div className="design">
        <img src={design} className="design-image" />
        <div className="design-text">DESIGN </div>
    </div>

    <div className="sparkle">
        <img src={sparkle} className="sparkle-image" />
        <img src={sparkle2} className="sparkle2-image" />
        <div className="sparkle-text">SPARKLE</div>
    </div>
</div>
<div className="column3">
    <div className="ls">
        <img src={ls} className="ls-image" />
        <div className="ls-text">LECTURE <br />SERIES</div>
    </div>

    <div className="ina">
        <img src={ina} className="ina-image" />
        <div className="ina-text">INA</div>
    </div>

    <div className="website2">
        <img src={website} className="website-image" />
        <div className="website-text">WEBSITE</div>
    </div>
</div>
<div className="column4">
    <div className="disrupt">
        <img src={disrupt} className="disrupt-image" />
        <img src={disrupt2} className="disrupt2" />
        <div className="disrupt-text">DISRUPT</div>
    </div>

    <div className="marky">
        <img src={marky} className="marky-image" />
        <div className="marky-text">MARKETING</div>
    </div>
</div>
<div className="column5">
    <div className="expo">
        <img src={expo} className="expo-image" />
        <img src={expo2} className="expo2" />
        <div className="expo-text">STARTUP <br />EXPO</div>
    </div>

    <div className="prb">
        <img src={prb} className="prb-image" />
        <div className="prb-text">PR &<br />BRANDING</div>
    </div>

    <div className="website3">
        <img src={website} className="website-image" />
        <div className="website-text">WEBSITE</div>
    </div>
</div>
<img src={purple} className="purple-left" />
<img src={purple} className="purple-top" />
<img src={purple} className="purple-rtop" />
<img src={purple} className="purple-rbottom" /> */} -->